body {
  font-family: monospace;
}

header {
  width: 100%;
  text-align: center;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: absolute;
  left: 0;
  top: 0;

  width: 150px;
  height: 150px;

  box-sizing: border-box;
  border-radius: 50%;
}
